- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 César Salazar
  %h2 
    %span Designer
    %span.ampersand & 
    %span builder of web stuff... turned venture capitalist.
  :markdown
    I've been an entrepreneur and web developer for more than 10 years now. During the last three years I've lead key efforts to empower the startup and hacker communities in Mexico, my home country. I specialize in User Experience Architecture and Product Engineering. Recently, I cofounded the first Silicon Valley backed seed fund for Mexican startups, [Mexican.VC](http://mexican.vc). I'm also one of the cofounders of [SuperHappyDevHouse Mexico City](http://shdhmexicocity.org) and [Hackspedition](http://hackspedition.org). 
  %p In short, I describe myself as a behavioralist, a curious traveler and a hacker culture practitioner.
  #links
    %h3 Find out more about me:
    %ul
      %li.twitter
        %a{:href => 'http://twitter.com/cesarsalazar', :target => 'blank'} Twitter
      %li.linkedin
        %a{:href => 'http://mx.linkedin.com/in/cesarsalazar', :target => 'blank'} LinkedIn
      %li.github  
        %a{:href => 'http://github.com/cesarsalazar', :target => 'blank'} Github
      %li.blog  
        %a{:href => '/observaciones'} Blog
        