- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 César Salazar
  %h2 If I ever become a great investor, it's because I'm really a designer.
  :markdown
    I'm a full-time investor and General Partner of Mexican.VC, the Silicon Valley Discovery Fund for Mexican and Latin American startups. I started my first company at age 17, and ever since I've collaborated with the best to build all sorts of things. I'm an interaction designer at heart, with an actual engineering degree, who really likes to mess with code. I co-founded Hackespedition, helped jumpstart SuperHappyDevHouse in Mexico and serve as a Regional Advisor to the Startup Weekend organization. At the core, I'm just a curious traveler who's always up for an adventure.
  #links
    %h3 Find out more about me:
    %ul
      %li.angellist
        %a{:href => 'http://angel.co/cesarsalazar', :target => 'blank'} AngelList
      %li.twitter
        %a{:href => 'http://twitter.com/cesarsalazar', :target => 'blank'} Twitter
      %li.linkedin
        %a{:href => 'http://mx.linkedin.com/in/cesarsalazar', :target => 'blank'} LinkedIn
      %li.github  
        %a{:href => 'http://github.com/cesarsalazar', :target => 'blank'} Github
      %li.blog  
        %a{:href => '/observaciones'} Blog
        