- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 César Salazar
  %h2 If it ever turns out I become a great investor, blame it on my designer soul.
  :markdown
    I'm a full-time investor and Partner at Mexican.VC, the Silicon Valley Discovery Fund for Mexican and Latin American startups. Ever since I started my first company at age 17, I've worked with some of the most talentet entrepreneurs, hackers and designers building products of all sorts. Underneath the investor skin, lives a passionate interaction designer with a lousily earned engineering degree who really likes to mess with code (Ruby and CoffeeScript are my current favorites). 

    I also co-founded Hackspedition and StartupDojo, helped jumpstart SuperHappyDevHouse in my home country and advise Startup Weekend Mexico.

    In the end, I'm just a naïve yet passionate guy always pursuing new adventures.
  #links
    %h3 Find out more about me:
    %ul
      %li.angellist
        %a{:href => 'http://angel.co/cesarsalazar', :target => 'blank'} AngelList
      %li.twitter
        %a{:href => 'http://twitter.com/cesarsalazar', :target => 'blank'} Twitter
      %li.linkedin
        %a{:href => 'http://mx.linkedin.com/in/cesarsalazar', :target => 'blank'} LinkedIn
      %li.github  
        %a{:href => 'http://github.com/cesarsalazar', :target => 'blank'} Github
      %li.blog  
        %a{:href => '/observaciones'} Blog
        