!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'César Salazar'
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png'}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Abril+Fatface|Lora|Neuton:200,400,400italic|Rochester', :rel => 'stylesheet', :type => 'text/css' }
    = yield_content :head
  %body
    = yield
    %script{:src => '/javascripts/ga.js'}