!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'César Salazar'
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png'}
    = yield_content :head
  %body
    = yield
    %script{:src => '/javascripts/ga.js'}