- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/merida.css', :type => 'text/css'}
#header_container
  #header
    %h1 Una sonrisa y 132 horas después 
  #content  
    #story
      %img{:src => "/images/merida/1.jpg"}
      %p Algunas historias son complejas y toman meses para gestarse, otras simplemente empiezan con una mirada distraída y un observador intrigado por lo que esos ojos han visto y guardan.
      %img{:src => "/images/merida/2.jpg"}
      %p De vez en cuando dos mundos completamente ajenos colapsan en una sonrisa irresistible. 
      %img{:src => "/images/merida/3.jpg"}
      %p La incertidumbre es grande, sin embargo es difícil resistir la tentación de salir a descubrir ese otro mundo.
      %img{:src => "/images/merida/4.jpg"}
      %p Incluso en los más breves de los momentos, lo que para cualquiera común sería un momento sin magia, para quien busca los ojos del otro es un instante de emoción.
      %img{:src => "/images/merida/5.jpg"}
      %p Y que mejor que salir al mundo a vivirlo. Con lluvia o con sol, acompañados de las personas más cercanas.  
      %img{:src => "/images/merida/6.jpg"}
      %p Y una que otra que sutilmente se entromete en nuestra vida.
      %img{:src => "/images/merida/7.jpg"}
      %p Si tenemos suerte, el mundo se manifiesta a favor de nuestas locuras, y nos brinda pruebas de que vale la pena andar el camino.
      %img{:src => "/images/merida/8.jpg"}
      %p Las amigas y los amigos se unen al gesto y con su mirada nos dan una pizca de aprobación a nuestras locuras.
      %img{:src => "/images/merida/9.jpg"}
      %p Y una que otra tontería.
      %img{:src => "/images/merida/10.jpg"}
      %img{:src => "/images/merida/11.jpg"}
      %img{:src => "/images/merida/12.jpg"}
      %img{:src => "/images/merida/13.jpg"}
      %img{:src => "/images/merida/14.jpg"}
      %img{:src => "/images/merida/15.jpg"}
      %img{:src => "/images/merida/16.jpg"}
      %img{:src => "/images/merida/17.jpg"}
      %img{:src => "/images/merida/18.jpg"}
      %img{:src => "/images/merida/19.jpg"}
      %img{:src => "/images/merida/20.jpg"}
      %img{:src => "/images/merida/21.jpg"}
      %img{:src => "/images/merida/22.jpg"}
      %img{:src => "/images/merida/23.jpg"}
      %img{:src => "/images/merida/24.jpg"}
      %img{:src => "/images/merida/25.jpg"}
      %img{:src => "/images/merida/26.jpg"}
      %img{:src => "/images/merida/27.jpg"}
      %img{:src => "/images/merida/28.jpg"}
      %img{:src => "/images/merida/29.jpg"}
