- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/merida.css', :type => 'text/css'}
#header_container
  #header
    %h1 Dos mundos colisionan
    #story
      %img{:src => "/images/merida/1.jpg"}
      %p Y al despertar... se encontraba en una sala llena de personas. Cada una con una historia diferente y provenientes de distintos puntos del universo. Escuchaba y observaba atentamente, tratando de entender lo que ocurría a su alrededor.
      %img{:src => "/images/merida/2.jpg"}
      %p De pronto, a lo lejos notó una mirada. En general la hubiera ignorado, pero esta vez la chica dejó que su instinto dominara a la razón y volteó para ver de quien se trataba. No era más que un simple extraño, alguien que sólo parecía ir de paso. Sin embargo, al encontrarse sus miradas, no pudieron evitar dejar ver una sonrisa. Como toda gran historia, esta comenzó con una enorme coincidencia que convirtió en mágico el gesto más sencillo.
      %img{:src => "/images/merida/3.jpg"}
      %p A través de ese juego de miradas y sonrisas, y después de observarlo un rato, la chica se da cuenta de que el simple extraño es diferente al resto. Entonces curiosa, empieza a navegar por la red, y se sorprende al encontrar información inesperada acerca de él. La curiosidad por conocerlo va en aumento. Ahora planea una estrategia para llamar su atención.
      %img{:src => "/images/merida/4.jpg"}
      %p Mientras tanto, el chico se sentía completamente intimidado por los ojos tan hermosos de la chica. Era como si de pronto se hubiera quedado sin piel; como si el ligero viento que alcanzaba a entrar por la puerta del cuarto pudiera sacudir cada uno de sus nervios. Habían pasado tantos año de que no se sentía tan indefenso, que el sentimiento paracecía completamente nuevo. 
      %p La impaciencia aumentaba con cada latido y a todas luces ahora parecía inevitable lo que segundos antes aparentaba ser inconcebible.
      %img{:src => "/images/merida/5.jpg"}
      %p Horas más tarde y sin mucho esfuerzo, los chicos ya habían dado pie a una nueva aventura en la bella ciudad de Mérida. Entre risas, helados, nuevos amigos y algunos gestos de complicidad, cada uno se iba introduciendo en el mundo del otro.
      %p Esperando ansiosamente un momento a solas, la impaciencia por descubrirse se hacía aun más grande. 
      %img{:src => "/images/merida/6.jpg"}
      %img{:src => "/images/merida/7.jpg"}
      %img{:src => "/images/merida/8.jpg"}
      %img{:src => "/images/merida/9.jpg"}
      %img{:src => "/images/merida/11.jpg"}
      %img{:src => "/images/merida/12.jpg"}
      %img{:src => "/images/merida/13.jpg"}
      %img{:src => "/images/merida/14.jpg"}
      %img{:src => "/images/merida/15.jpg"}
      %img{:src => "/images/merida/16.jpg"}
      %img{:src => "/images/merida/17.jpg"}
      %img{:src => "/images/merida/18.jpg"}
      %img{:src => "/images/merida/19.jpg"}
      %img{:src => "/images/merida/20.jpg"}
      %img{:src => "/images/merida/21.jpg"}
      %img{:src => "/images/merida/22.jpg"}
      %img{:src => "/images/merida/23.jpg"}
      %img{:src => "/images/merida/24.jpg"}
      %img{:src => "/images/merida/25.jpg"}
      %img{:src => "/images/merida/26.jpg"}
      %img{:src => "/images/merida/27.jpg"}
      %img{:src => "/images/merida/28.jpg"}
      %img{:src => "/images/merida/10.jpg"}
