- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/merida.css', :type => 'text/css'}
#header_container
  #header
    %h1 Dos mundos colisionan
    #story
      %img{:src => "/images/merida/1.jpg"}
      %p Y al despertar... se encontraba en una sala llena de personas. Cada una con una historia diferente y provenientes de distintos puntos del universo. Escuchaba y observaba atentamente, tratando de entender lo que ocurría a su alrededor.
      %img{:src => "/images/merida/2.jpg"}
      %p De pronto, a lo lejos notó una mirada. En general la hubiera ignorado, pero esta vez la chica dejó que su instinto dominara a la razón y volteó para ver de quien se trataba. No era más que un simple extraño, alguien que sólo parecía ir de paso. Sin embargo, al encontrarse sus miradas, no pudieron evitar dejar ver una sonrisa. Como toda gran historia, esta comenzó con una enorme coincidencia que convirtió en mágico el gesto más sencillo.
      %img{:src => "/images/merida/3.jpg"}
      %p A través de ese juego de miradas y sonrisas, y después de observarlo un rato, la chica se da cuenta de que el simple extraño es diferente al resto. Entonces curiosa, empieza a navegar por la red, y se sorprende al encontrar información inesperada acerca de él. La curiosidad por conocerlo va en aumento. Ahora planea una estrategia para llamar su atención.
      %img{:src => "/images/merida/4.jpg"}
      %p Mientras tanto, el chico se sentía completamente intimidado por los ojos tan hermosos de la chica. Era como si de pronto se hubiera quedado sin piel; como si el ligero viento que alcanzaba a entrar por la puerta del cuarto pudiera sacudir cada uno de sus nervios. Habían pasado tantos año de que no se sentía tan indefenso, que el sentimiento paracecía completamente nuevo. 
      %p La impaciencia aumentaba con cada latido y a todas luces ahora parecía inevitable lo que segundos antes aparentaba ser inconcebible.
      %img{:src => "/images/merida/5.jpg"}
      %p Horas más tarde y sin mucho esfuerzo, los chicos ya habían dado pie a una nueva aventura en la bella ciudad de Mérida. Entre risas, helados, nuevos amigos y algunos gestos de complicidad, cada uno se iba introduciendo en el mundo del otro.
      %p Esperando ansiosamente un momento a solas, la impaciencia por descubrirse se hacía aun más grande. 
      %img{:src => "/images/merida/6.jpg"}
      %p La ansiedad aumentaba a cada segundo, pero las cosas no serían tan sencillas. Después de todo, no tenían ni 24 horas de haberse conocido, y seguirían rodeados de más personas por muchas horas más. Además, en ocasiones parecía como si uno se estuviera entrometiendo en la vida del otro, aunque rápidamente las cosas fluían de ambos lados y los minutos siguieron llenándose de gestos traviesos. Era como si dos adultos se convirieran momentaneamente en niños, como si el tiempo no pasara y como si no existieran límites a la imaginación. Aunque honestamente podemos decir, que ninguno de los involucrados sabía lo que estaba haciendo.
      %img{:src => "/images/merida/7.jpg"}
      %p Un poco antes del atardecer y después de una pequeña llovizna, los chicos pudieron apreciar la belleza del cielo pintado de colores. Lo que creó una atmosfera acogedora y relajante. Cabe mencionar, que horas atrás, el chico había descubierto que la gente local podía percibir el olor de la lluvia, cosa muy extraña para él, pero lo más normal para la chica.
      %img{:src => "/images/merida/8.jpg"}
      %p Pero el arcoiris era mágico. Así como la aurora boreal tiene el poder de transformar las tierras más polares, el bello arcoiris causo toda serie de cambios en el entorno. Lo que parecía increíble se volvió real ante los ojos de todos los presentes. Una manada de unicornios del color del algodón apareció corriendo desde donde el arcoiris tocada el suelo. Cientos de aves volaron por los aires como si anunciaran la llegada de una princesa. Nadie podía creerlo.
      %p Tal vez sólo duraron sólo unos instantes, pero para quienes presenciamos aquellos eventos, quedaran en nuestras memorias por un largo, largo tiempo.
      %img{:src => "/images/merida/9.jpg"}
      %p Lo que nadie se imaginaba, era que la princesa realmente existía, y además era una princesa especial, fuera de este mundo. Habitaba en el corazón de la chica, y tenía ciertos poderes especiales, pero nadie se había dado cuenta de aquello, lo disimulaba muy bien. Entre las cosas extraordinarias que hacía era que podía convertir la comida en lo que quisiera. Para los simples mortales la apariencia era la misma, pero para la chica no, entonces, siempre comía lo que se le antojaba. Además tenía la capacidad de sonreír todo el tiempo, y así contagiarlo a las personas que quería, aunque este poder era visible para la mayoría de las personas.
      %img{:src => "/images/merida/11.jpg"}
      %p Sus poderes no se detenían ahí. Un poder muy particular que poseía la chica con corazón de princesa era el de encantar a cualquiera. Dado que tenía una gran curiosidad por explorar las ideas del chico, ella decidió utilizar su magia tan pronto como se presentó la oportunidad. Bastaron unos plumones de colores, una simple hoja de papel y unas palabras secretas que repitió en su mente para consumar el hechizo.
      %p Sin embargo, el uso de este poder venía con una consecuencia nada despreciable. Al utilizarlo sobre alguien, ella recibía el mismo efecto pero con el doble de intensidad.
      %img{:src => "/images/merida/12.jpg"}
      %img{:src => "/images/merida/13.jpg"}
      %img{:src => "/images/merida/14.jpg"}
      %img{:src => "/images/merida/15.jpg"}
      %img{:src => "/images/merida/16.jpg"}
      %img{:src => "/images/merida/17.jpg"}
      %img{:src => "/images/merida/18.jpg"}
      %img{:src => "/images/merida/19.jpg"}
      %img{:src => "/images/merida/20.jpg"}
      %img{:src => "/images/merida/21.jpg"}
      %img{:src => "/images/merida/22.jpg"}
      %img{:src => "/images/merida/23.jpg"}
      %img{:src => "/images/merida/24.jpg"}
      %img{:src => "/images/merida/25.jpg"}
      %img{:src => "/images/merida/26.jpg"}
      %img{:src => "/images/merida/27.jpg"}
      %img{:src => "/images/merida/28.jpg"}
      %img{:src => "/images/merida/10.jpg"}
