@import "global"

body
  background: transparent

h1
  font-size: 2em

p
  line-height: 1.75
  margin-bottom: 1.5em

ol
  overflow: visible
  padding: 0 1.3em
  list-style: decimal outside
  
ul
  overflow: visible
  padding: 0 1.3em
  list-style: disc outside
  
#header_container
  @include centered(920px)
  border-top: 10px solid $brand
  padding-top: 2em
  padding-bottom: 2em

  #header
    h4.blog_title
      font-size: 1em
      margin-bottom: 4em
      font-weight: 200
      color: #FFF
      a
        color: darken($light_gray,20%)
        text-decoration: none
        &:hover
          text-decoration: none
          color: darken($light_gray, 30%)

#content
  @include clearfix
  text-align: left
  width: 920px
  margin-bottom: 4em
  p, li
    margin-bottom: 1.2em
    line-height: 1.5
  li
    margin-bottom: 0.6em
  ol
    li
      font-style: italic
      p
        font-style: normal

@media screen and (max-device-width: 480px)
  #header_container
    width: 100%
    padding: 3em
    #header
      h4.blog_title 
        font-size: 3em
  #content
    padding: 1.5em
    article
      width: 100%
    .aside
      display: block
      width: 100%
      @include clearfix
      h2
        font-size: 2em
      #profile
        img
          width: 60%
      #share 
        @include centered(200px)
        a
          width: 82px
          height: 82px
          background-size: 100%