@import 'reset', 'palette', 'fonts', 'mixins', 'forms'
 
body
  font: 21px "Lora", serif
  font-weight: 200
  #content
    margin: 70px auto 50px
    max-width: 960px

h1
  margin-bottom: 0.25em
  color: $brand
  font-size: 4em
  font-family: "Rochester", serif
  line-height: 1.2
  letter-spacing: -0.02em

h2, h3
  font-family: "Abril Fatface", serif
  font-weight: normal
  color: $black
  font-size: 1.5em
  margin-bottom: 0.5em
  .ampersand
    font-family: "Rochester", serif
    color: $brand

h3
  font-size: 1.5em
  margin-bottom: 0.5em
  
p, li
  line-height: 1.5
  margin-bottom: 1em

a
  color: $contrast
  text-decoration: none
  &:hover
    text-decoration: underline

li a
  line-height: 1.7

@media screen and (max-device-width: 480px)
  body
    background: transparent
  #content
    width: 100%
    margin-top: 0
    margin-bottom: 0
    font-size: 2em
    padding: 1em
    p, li
      font-size: 1.2em