@import "reset", "palette", "fonts", "mixins"
 
body
  font-family: $base_sans
  font-size: 18px
  font-weight: 300
#content
  @include centered(600px)

h1
  margin-bottom: 0.25em
  font-weight: 800
  color: $brand
  font-size: 3.5em
  line-height: 1
  letter-spacing: -0.06em

h2
  font-weight: 300
  font-size: 1.5em
  line-height: 1.2
  margin-bottom: 0.75em

h3
  font-weight: 300
  font-size: 1.25em
  margin-bottom: 0.5em
  
p, li
  line-height: 1.5
  margin-bottom: 1em

a
  color: $brand
  text-decoration: none
  &:hover
    text-decoration: underline

li a
  line-height: 1.7

@media screen and (max-device-width: 480px)
  body
    background: transparent
  #content
    width: 100%
    margin-top: 0
    margin-bottom: 0
    font-size: 2em
    padding: 1em
    p, li
      font-size: 1.2em