@import 'blog'

#content

  h2
    margin-top: 1em
    color: $black
  ul
    padding-left: 0
    li
      list-style: none
      padding-left: 0
      overflow: visible
      margin-bottom: 1em
      font-style: normal
      em
        float: left
        display: block
        width: 6em
        margin-top: 0.1em
        color: $gray
        font-family: sans-serif
        font-style: normal
        font-size: 0.75em
      a
        display: block
        overflow: hidden
        text-decoration: none
        &:hover
          text-decoration: underline



