@import 'global'

h1
  margin-bottom: 0.25em

strong
  font-weight: 300
  color: $brand

#header
  border-top: 10px solid $brand
  @include centered(720px)
  background: $gray url("/images/mentoring.jpg") no-repeat 0 0
  padding: 2em
  padding-top: 275px
  h1
    padding-top: 0.5em
  h2
    margin-bottom: 0

#content
  padding: 2em
  background: $white
  border: 1px solid $gray
#links
  padding: 2em
  @include centered(720px)
  margin-bottom: 2em
  h3
    margin-bottom: 1em
    font-size: 1em
  ul
    @include horizontal-list
    li
      display: inline-block
      text-indent: 40px
      height: 30px
      line-height: 30px
      margin-right: 1.5em
      a
        line-height: 30px

li.angellist
  background: transparent url(/images/angellist_30px.png) no-repeat scroll 0 50%

li.twitter
  background: transparent url(/images/twitter_30px.png) no-repeat scroll 0 50%

li.linkedin
  background: transparent url(/images/linkedin_30px.png) no-repeat scroll 0 50%

li.github
  background: transparent url(/images/github_30px.png) no-repeat scroll 0 50%
  
li.blog
  background: transparent url(/images/blog_30px.png) no-repeat scroll 0 50%
  