@import "blog"

#header_container
  padding-top: 1em
  #header
    h4.blog_title
      font-size: 1em
      margin-bottom: 2em
      font-weight: 200
      color: #FFF
      a
        color: darken($light_gray,10%)
        text-decoration: none
        &:hover
          text-decoration: none
          color: darken($light_gray, 20%)